.btn-purple {
    background-color: #605ca8;
    border-color: #555299;
    color: #fff;
}

.btn-purple:hover,
.btn-purple:active {
    background-color: #555299;
    border-color: #3e3e7c;
    color: #fff;
}

.alert > ul {
    list-style: none;
    padding-left: 10px;
}

input.form-control.parsley-error + ul.parsley-errors-list {
    display: none;
}

input.form-control.parsley-error {
    border-color: #ff4c3b;
}

.main-sidebar {
    position: fixed;
    bottom: 0;
}

.logo {
    position: fixed;
}

.navbar-static-top {
    position: fixed;
    right: 0;
    left: 0;
}

.box-body {
    overflow-x: scroll;
}

.content-wrapper {
    padding-top: 50px;
}

@media (max-width: 768px) {
    .content-wrapper {
        padding-top: 0px;
    }
}

.logo-image {
    height: 50px;
    width: 50px;
}

.single-image {
    width: 100%;
    padding: 10px;
}
